
@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-dropdown-menu {
  z-index: 1000;
}

.body_startupdetail {
  padding-top: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
