
@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-dropdown-menu {
  z-index: 1000;
}

.body_startupdetail {
  padding-top: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}


/* Ẩn nút con mắt mặc định của Edge/IE trong ô password */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

/* Ẩn clear icon mặc định của Chrome/Safari khi cần */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-caps-lock-indicator {
  display: none !important;
}
